<div>
    <div id='sideBarSelectDiv'>
        <select id='filterTags' onchange='getFilteredJots()'>
            <option data_tag_id='0' value='0'>Display All:</option>
            <% for (var i = 0; i < tags.length; i++) {  
            var selected = '';                
            if(selection == tags[i].id){
                selected = 'selected'
            }%>
            <option <%= selected %> data_tag_id='<%= tags[i].id %>'> <%= tags[i].name %> </option>               
            <% } %>
        </select>
    </div>
    <div id='sideBarJotDiv' data_page='1'>
        <% for (var i = 0; i < jots.length; i++) {  
            var display = '';
            if (i >= 10){
                display = "display='none'"
            }%>
        <div data_jot_id='<%= jots[i].pk %>' data_index='<%= i %>' class='sideBarJot' onclick='getListJot(this)' <%= display %>>
        <h5><%= jots[i].entry_date.toDateString() %> </h5> 
            <%=jots[i].text %> 
        </div>
        <% } %>      

    </div>
</div>